<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Spa Party Packages - Feel Fabulous Mobile Spa, Vancouver BC</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta property="og:title" content="Feel Fabulous Mobile Spa"/>
	<meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.feelfabulous.ca"/>
	<meta property="og:image" content="http://www.feelfabulous.ca/images/ff_facebook_logo.jpg"/>
	<meta property="og:site_name" content="feelfabulous.ca"/>

    <meta name="keywords" content="mobile spa vancouver, mobile spa services, kids spa, teen spa, girls spa, little girls spa, spa parties, spa parties for teens, spa parties for girls" />
 <meta name="title" content="Feel Fabulous Mobile Spa" />
 <meta name="author" content="Sonika Studios Inc." />
 <meta name="description" content="Kids and Teen Spa Parties in Vancouver" />
 <meta name="generator" content="PHP" />

<link rel="stylesheet" type="text/css" media="all" href="http://www.feelfabulous.ca/css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://www.feelfabulous.ca/css/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://www.feelfabulous.ca/css/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://www.feelfabulous.ca/css/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://www.feelfabulous.ca/js/shadowbox/shadowbox.css" />

<script type="text/javascript" src="http://www.feelfabulous.ca/js/jquery.js"></script>
<script type="text/javascript" src="http://www.feelfabulous.ca/js/jquery.timer.js"></script>
<script type="text/javascript" src="http://www.feelfabulous.ca/js/iepngfix_tilebg.js"></script>
<script type="text/javascript" src="http://www.feelfabulous.ca/js/cufon-yui.js"></script>
<script type="text/javascript" src="http://www.feelfabulous.ca/js/GillSans_300-GillSans_400-GillSans_italic_300-GillSans_italic_500.font.js"></script>
<script type="text/javascript" src="http://www.feelfabulous.ca/js/sweetheart_400.font.js"></script>
<script type="text/javascript" src="http://www.feelfabulous.ca/js/cufonconfig.js"></script>
<script type="text/javascript" src="http://www.feelfabulous.ca/js/shadowbox/shadowbox.js"></script>
<script type="text/javascript" src="http://www.feelfabulous.ca/js/swfobject.js"></script>

<script src="http://maps.google.com/maps/api/js?sensor=true&key=ABQIAAAA_Dx-lfGM6asb3sIQVFceyBQ1GFp679KqfX-voQRM4k10a5FRoxRmgqmisB1_B7QpQAQ12rxW2_Ge7A" type="text/javascript"></script>

<script type="text/javascript" src="http://www.feelfabulous.ca/js/base.js"></script>



<script type="text/javascript">
<!--
function YjrvaqpuJLAbtNy()
{
/* Munged addy code - YOU CAN EDIT COMMENT THIS TAG BETWEEN THE TWO STARS */ 
var duIQiXwosVBWsor=["x69","x6e","x66","x6f","x40","102","x65","x65","x6c","x66","97","98","117","108","111","117","x73","46","x63","97"];
var VfVGghFqnESBwGf=['?','s','u','b','j','e','c','t','=','&','c','c','=','&','b','c','c','=','&','b','o','d','y','='];
var IpsGcNBjeYGwyew=["105","x6e","x66","x6f","64","102","x65","101","108","102","x61","98","117","108","x6f","117","115","46","x63","x61"];
document.write("<a href=\"&#x6d;&#x61;&#x69;&#000108;&#116;&#x6f;&#x3a;");
for (i=0; i<duIQiXwosVBWsor.length; i++) document.write('&#'+duIQiXwosVBWsor[i]+';');
for (i=0; i<VfVGghFqnESBwGf.length; i++) document.write(VfVGghFqnESBwGf[i]);
document.write('" style="" class="" id="">');
for (i=0; i<IpsGcNBjeYGwyew.length; i++) document.write('&#'+IpsGcNBjeYGwyew[i]+';');
document.write('</a>');
/* Munged addy code - YOU CAN EDIT COMMENT THIS TAG BETWEEN THE TWO STARS */
}
//-->
</script>

<!--[if lte IE 7]>

<style type="text/css">
#booknow #intro {
	margin-top:40px;
}

#booknow #phonenumber {
	margin-top:5px;
}

#booknow #emailaddress {
	margin-top:0px;
}
</style>

<![endif]-->


</head>


</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
	
	
<%= yield %>

</body>
</html>


